label.sf.large  {
	height: 84px;
	position: relative;
}
label.sf.normal  {
	height: 64px;
	position: relative;
}
label.sf.title  {
	height: 32px;
	position: relative;
}
label.sf.small  {
	height: 16px;
	position: relative;
}


.checkbox {
	position: relative;
	height: auto;
	width: auto;
	display: inline-block;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	line-height: 50px;
	
	margin:0px;
}
/*

*/
.checkbox {
	height: 2.5em;
	width: 2.5em;
	top: 0px;
	left: 0px;

	margin-bottom: 0.8em;
}

.checkbox input{
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;

}

.checkbox s,
.checkbox s:after{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0px;
	left: 0px;
}

.checkbox input[type="checkbox"] {
	display:block;
	position: relative;
	opacity: 0;
	z-index: 1;

}
.checkbox input[type="checkbox"]{
	cursor:pointer;

}
.checkbox input[type="checkbox"]:checked + label:after,
.checkbox input[type="checkbox"]:checked + s:after{
	content: 'check';
	position: absolute;
	z-index: 0;
}


/**/

input[type="radio"] {
	display:block;
}

input[type="radio"] + label {

	font-family:Arial, sans-serif;
	font-size:14px;
}

input[type="radio"]:checked{
	
}