<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{> menu/title}}</title>
	{{> head}}
</head>
<body>
	{{> menu/nav}}
	<main>
		{{{body}}}
	</main>
	<footer>
		{{module_name}} ∞ {{module_version}}
	</footer>
</body>
</html>
