<section class="sidebar one-fourth" role="navigation">

	<nav class="menu">
		
		<div>
			<a href="/python/execute?script=argumental" class="button clear">Argumental</a>
			<a href="/python/execute?script=plain" class="button clear">Plain</a>
			
		</div>

	</nav>

</section>