<nav class="nav_header">
	
	<div class="menu-heading">

		<a href="/python" class="button clear">Python Home</a>

	</div>

	<div class="linear one">
		<a href="/python/execute" class="button clear">Python Demo</a>
	</div>

</nav>