<header>
	<nav class='nav_main'>
		<a href="/">Home</a>
	</nav>
	<nav role='dropdown'>
		<input id="modules" type="checkbox" checked="checked">
		<label for="modules">
			Modules
		</label>
		<ul>
			<li>
				<a href="/python">Python</a>
			</li>
		</ul>
	</nav>
	
</header>