<h3>{{> menu/title}}</h3>
    
    <p>Generated for Python Scraping with External Scripts</p>
    <hr>
    <b>part of the Virgin framework</b>
    <hr>
    <i>Express, HBS, SQL, LevelDB, SocketIO, Python</i>
