<dialog class="modal-confirm modal hide fade">

    <header>

        <button data-dismiss="modal" class="close button"></button>
        <h3></h3>

    </header>
    <article>

        <p></p>

    </article>
    <footer>

        <button data-dismiss="modal" class="cancel button">Cancel</button>
        <button class="submit button">Ok</button>

    </footer>

</dialog>