<dialog class="modal-form-errors modal hide fade">

    <header>

        <button data-dismiss="modal" class="close button"></button>
        <h3>Failure!</h3>

    </header>
    <article>

        <p class="subheading">It looks like there was a problem.</p>
        <ul></ul>

    </article>
    <footer>

        <button data-dismiss="modal" class="button">OK</button>

    </footer>
</dialog>