<dialog class='modal hide fade' id='get-credentials'>

	<header>

		<button class='close button' data-dismiss='modal'></button>
		<h3>Remind Password</h3>

	</header>
	<article class="two_button">
		<form id='get-credentials-form' method='post'>

			<p>
				Please enter the email address associated with your account
			</p>

			<input 
				type='text' 
				class='span5 required' 
				id='email-tf' 
				name='email'
				placeholder='Confirmation Email'>

			<button 
				class='button discrete' 
				id='cancel' 
				data-dismiss='modal'>
				Cancel
			</button>

			<button 
				class='button' 
				id='submit' 
				type='submit'>
				Submit
			</button>

		</form>
	</article>
	<footer>

		<div class='alert inline-alert hide'></div>
	
	</footer>

</dialog>
