<dialog class="modal-alert modal hide fade">

  <header>

    <button class="close button" data-dismiss="modal"></button>
    <h3>Success!</h3>

  </header>
  <article>

    <p>Your account has been created.<br>Click OK to return to the login page.</p>

  </article>
  <footer>

    <button class="button" id="ok" data-dismiss="modal">OK</button>

  </footer>

</dialog>  